---
import { Icon } from "astro-icon/components";
import config from "../../config.json";
---

<script>
  const dropdown = document.getElementById("header-dropdown")!;
  const dropdownContent = dropdown.nextElementSibling!;

  function toggleDropdown() {
    dropdownContent.classList.toggle("show");
  }

  document
    .getElementById("header-dropdown")
    ?.addEventListener("click", toggleDropdown);
</script>

<header>
  <a href={`/`} title="Back to home">
    <Icon name="mdi:home" />
  </a>
  <div class="links">
    {
      config.links.map((link) => (
        <a href={link.href} data-astro-prefetch>
          {link.name}
        </a>
      ))
    }
  </div>
  <div class="dropdown">
    <button id="header-dropdown" title="Navigation dropdown">
      <Icon name="mdi:menu" />
    </button>
    <div id="dropdown-content">
      {
        config.links.map((link) => (
          <a href={link.href} data-astro-prefetch>
            {link.name}
          </a>
        ))
      }
    </div>
  </div>

  <style>
    header {
      font-size: 1.5rem;
      padding: var(--padding);
      z-index: 99;
      position: sticky;
      top: 0px;
      color: var(--text-color);
      backdrop-filter: blur(20px) hue-rotate(90deg);
      display: flex;
      align-items: center;
      justify-content: space-between;

      svg {
        font-size: 2rem;
      }

      a {
        color: var(--text-color);
      }
    }

    .links {
      gap: 1rem;
      display: none;

      a {
        padding: 0.5rem;
        border-radius: 0.5rem;
      }

      a:hover {
        background-color: var(--accent);
      }
    }

    .dropdown {
      display: block;
      position: relative;
    }

    #header-dropdown {
      padding: 0;
      background-color: transparent;
      color: var(--text-color);
      border: none;
      cursor: pointer;
    }

    #dropdown-content {
      display: none;
      position: absolute;
      right: 0px;
      top: var(--header-height);
      min-width: 160px;
      box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
      border-radius: 4px;
      background: linear-gradient(
        to right bottom,
        var(--background),
        var(--background-light),
        var(--background)
      );

      &.show {
        display: block;
      }
    }

    #dropdown-content a {
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    @media screen and (min-width: 768px) {
      .links {
        display: flex;
      }
      .dropdown {
        display: none;
      }
    }
  </style>
</header>
