---
interface Props {
  title: string;
  start?: string;
  end?: string;
}

const { title, start, end } = Astro.props;
---

<div class="project">
  <div class="flex row w-full">
    <div>
      <h2>{title}</h2>
      {
        start ? (
          <h3>
            {start} &mdash; {end ?? "today"}
          </h3>
        ) : null
      }
    </div>
    <slot name="image"/>
  </div>
  <slot />
  <div class="flex center w-full">
    <slot name="footer" />
  </div>
</div>

<style define:vars={{ gap: "2rem" }}>
  .project > div > div > * {
    margin: 0.5em 0;
  }

  .flex > div:nth-child(1) {
    flex: 1 1 60%;
  }
  .flex > div:nth-child(2) {
    flex: 1 1 30%;
  }

  .project {
    & > div:first-child {
      align-items: center;
      justify-content: space-between;
    }
  }
</style>
