---
import Line from "../components/Line.astro";
import Layout from "../layouts/Layout.astro";


---

<Layout title="Engagement">
  <section slot="hero" id="page-header">
    <h1>Engagement</h1>
  </section>

  <Line width="100%" />

  <main>
    <section id="engagement">
      <h1>SunnyTech</h1>

      <Line />

      <h1>Scala.IO</h1>

      <Line />
    </section>
  </main>
</Layout>

<style>
  h1 {
    text-align: center;
  }
</style>