---
import Line from "../components/elements/Line.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Engagement">
  <section slot="hero" id="page-header">
    <h1 class="anim-fade-translate">Engagement</h1>
  </section>

  <section id="engagement">
    <h1>SunnyTech</h1>

    <Line />

    <h1>Scala.IO</h1>

    <Line />
  </section>
</Layout>
