---
import Line from "../components/elements/Line.astro";
import Project from "../components/layout/Project.astro";
import Layout from "../layouts/Layout.astro";
import SunnyTech from "../images/companies/SunnyTech.svg";
import ScalaIO from "../images/companies/Scalaio.svg";
import { Image } from "astro:assets";
---

<Layout title="Engagement">
  <section slot="hero" id="page-header">
    <h1 class="anim-fade-translate">Engagement</h1>
  </section>

  <section id="engagement">
    <h1>Conferences</h1>
    There are globally a few reasons I chose to actively participate in the organization
    of conferences, with some of them being:
    <ul>
      <li>I enjoy giving a hand</li>
      <li>It makes people happy (to have a conference to attend)</li>
      <li>
        On the D-day we need to run everywhere, that's exhausting but at the
        same time so satisfying when everything goes smoothly
      </li>
      <li>
        It should help me develop organizational skills (though I'm not sure it
        has had an effect yet...)
      </li>
      <li>
        Just breaking a 🤬 comfort zone to stop being afraid when interacting
        with other people (there's still a lot of work to do here...)
      </li>
    </ul>

    <Project title="SunnyTech" start="Sept. 2022" end="today">
      <slot slot="image">
        <a href="https://sunny-tech.io">
          <Image src={SunnyTech} alt="SunnyTech" width={256} />
        </a>
      </slot>
      <p>
        SunnyTech is a local, yearly tech conference of about 550 people with
        various subjects: Back/Front end, AI, Data, Cloud, Security, Mobile,
        etc., depending on the current year's trends
      </p>
      <p>
        I started with the communication group (one of the best ❤️) in the first
        year, before slowly trying to be active in other groups (like the
        speakers, sponsors, etc.)
      </p>
      <p>
        It's quite funny to see the progression: at first, I asked for
        confirmation before sending any post on social media. Now I can just
        review it to avoid errors and send it right away 💪
      </p>
    </Project>
    <Line />

    <Project title="Scala.IO" start="Jun. 2023" end="today">
      <slot slot="image">
        <a href="https://scala.io" aria-label="Scala.IO website">
          <Image src={ScalaIO} alt="ScalaIO" width={256} />
        </a>
      </slot>
      <p>
        Contrary to SunnyTech, ScalaIO is a conference mostly oriented towards
        Scala, with some talks about other functional programming languages
        (especially OCaml). We ran 2 editions of around 100 people in 2024.
      </p>
      <p>
        For the Nantes edition in 2024, I rewrote the website from a starting
        point initiated by a former organizer starting in Dec. 2023, at the same
        time as a big school project.
      </p>
      <p>
        It was the very first UI I had to create almost from scratch with few
        existing components, with real usage (and not to be thrown away once it
        ends). I surprised myself when I saw the amount of CSS line changes one
        year later ✨
      </p>
    </Project>
    <Line />
  </section>
</Layout>
