---
import Layout from "../layouts/Layout.astro";
import PP from "../images/me.png";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import Line from "../components/Line.astro";
import Cowsay from "../components/pre/Cowsay.astro";
import Link from "../components/elements/Link.astro";

const socials = [
  { icon: "mdi:github", href: "https://github.com/iusildra" },
  { icon: "mdi:linkedin", href: "https://www.linkedin.com/in/lucas-nouguier" },
  { icon: "mdi:twitter", href: "https://twitter.com/LucasNouguier" },
  { icon: "mdi:alternate-email", href: "mailto:portfolio.owy6d@passmail.net" },
];
---

<script>
  import { sequencedTransitions } from "../utils/Transitions";

  sequencedTransitions(document.querySelectorAll("#me > div")!, "appear");
</script>

<Layout title="Lucas Nouguier's Portfolio">
  <section slot="hero" id="me">
    <div class="photo" id="photo-and-links">
      <Image src={PP} alt="Profile picture" />
      <div class="links">
        {
          socials.map(({ icon, href }) => (
            <a href={href} target="_blank">
              <Icon name={icon} />
            </a>
          ))
        }
      </div>
    </div>
    <div class="my-info" id="my-info">
      <h1>Lucas Nouguier</h1>
      <h2>Fullstack & Scala Software Engineer</h2>
      <h3>
        FP preacher, Refactor frenzyness, Keyboard enthusiast, CLI addict, and
        lots of other red flags 🚩... (or very dark pink 👚)
      </h3>
      <div class="inner-links">
        <Link link="#about-me" kind={"outline"}>About me</Link>
      </div>
    </div>
  </section>

  <main>
    <Line width="80%" />

    <section id="about-me">
      <div class="bio">
        <p>
          Enthusiastic baby backend software engineer, who lost its way in the
          frontend world (hence this website)
        </p>
        <p>
          Scala and functional programming are my current passions even though I
          recently discovered with Scala.IO's website that CSS can be fun (but
          let's not abuse it 🙂)
        </p>
        <p>
          Ex-ArchLinux user (I got corrupted [again] by MacOS), I enjoy using
          the command line for a better understanding of the tools I'm using and
          spending hours tweaking my system according to my needs
        </p>
      </div>

      <Line />

      <Cowsay />
    </section>

    <Line />
  </main>
</Layout>

<style>
  h1 {
    text-align: center;
  }

  .inner-links {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    row-gap: 2em;
    column-gap: 2em;
  }

  .funny-quote {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  pre {
    white-space: break-spaces;
  }
  .bio {
    background-color: #2d2d2d;
    padding: 1rem;
    border-radius: 0.5rem;
    font-family: "Courier New", Courier, monospace;
    color: #f8f8f2;
    overflow-x: auto;
  }

  #me {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    .photo,
    .my-info {
      opacity: 0;
      transition:
        opacity 1s ease,
        transform 1s ease;
      &.appear {
        opacity: 1;
        transform: translateX(0);
      }
    }

    .photo {
      flex: 1 1 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      transform: translateX(-100%);
    }

    .my-info {
      flex: 1 1 calc(60% - 2rem);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      transform: translateX(100%);

      h1,
      h2,
      h3,
      & > div {
        text-align: left;
        margin: 1rem;
        width: 100%;
      }
    }

    .links {
      display: flex;
      gap: 1rem;
      justify-content: space-evenly;
    }

    .links svg {
      width: 3rem;
      height: 3rem;
    }

    .photo > img {
      width: 400px;
      height: auto;
      border-radius: 50%;
      max-width: 100%;
      aspect-ratio: 1 / 1;
      object-fit: cover;
    }
  }
</style>
