---
import { Image } from "astro:assets";
import Project from "../components/layout/Project.astro";
import Canne from "../images/hobbies/ccb/CanneDeCombat.webp";
import Layout from "../layouts/Layout.astro";
import CcImage from "../components/elements/CcImage.astro";
---

<Layout title="Others">
  <section slot="hero" id="page-header">
    <h1 class="anim-fade-translate">Others</h1>
  </section>

  <section id="others" class="flex column center">
    <Project title="Canne de Combat" start="2009">
      <slot slot="image">
        <div id="ccb-cc-image">
        <a href="https://www.ffsavate.com/federation/nos-disciplines/canne-de-combat-et-baton/">
          <Image
            src={Canne}
            alt="Canne de Combat"
            width={256}
          />
        </a>
        <small class="align-right">© <a href="https://www.instagram.com/paulvnicolas?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==">Paul Nicolas</a></small>
        </div>
      </slot>
      <p>
        The "Canne de Combat" is a French martial art (of which I'm particularly fond of) where we fight with a "canne" (hence the name 😄). Historically, it was a mean of defense. The standard length is 95cm and the weight between 90-130g for tournament canes, and up to 200g for training ones.
      </p>
      <p>The most common way of fighting is with a single cane (and lots of protection, fencing helmet, padded clothes...), but there are some funny variants that I do practice a bit:
      </p>
      <ul>
      <li>"Double canne": one cane in each hand</li>
      <li>"Canne chausson": single cane with French boxing kicks. It can also be done with 2 canes, but then it's getting hard to parry kicks 😅</li>
      </ul>

      <div class="iframe_16_9">
        <iframe src="https://www.youtube.com/embed/WCgsWDH2IhQ?origin=iusildra.dev"></iframe>
      </div>
      <small class="align-right"><i>Video generated from shots by Cédric Lacage and Riad Idjellidaine</i></small>

      <p>There's also the "Bâton de combat" where instead of a cane we use a staff (140cm length, 400g weight). Unfortunately (or not) there are no tournament for this one as it's too dangerous (one hit can bend a fencing helmet)</p>
    </Project>
  </section>
</Layout>

<style>
  #others {
    margin-top: calc(4 * var(--padding));
  }

  .align-right {
    display: block;
    text-align: right;
  }
</style>
