---
import { Image } from "astro:assets";
import Line from "../components/elements/Line.astro";
import Layout from "../layouts/Layout.astro";
import PortfolioThumb from "../images/thumbnails/Portfolio_large.webp";
import ScalaIOThumb from "../images/thumbnails/ScalaIO_large.webp";
import { Icon } from "astro-icon/components";
---

<Layout title="Projects">
  <section slot="hero" id="page-header">
    <h1>Projects</h1>
  </section>

  <section id="projects">
    <h1>Portfolio</h1>
    <a href="/" target="_blank">
      <Image src={PortfolioThumb} alt="My Portfolio" />
    </a>
    <Line />
    <h1>
      <a href={"https://github.com/ScalaIO/scala.io"} target="_blank">
        Scala.IO webiste
        <Icon name="mdi:link-variant" />
      </a>
    </h1>
    <a href="https://scala.io" target="_blank">
      <Image src={ScalaIOThumb} alt="Scala.IO website" />
    </a>
  </section>
</Layout>

<style>
  h1 {
    text-align: center;
  }

  #projects {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    text-align: center;
    transition: all 0.5s ease;
    svg {
      margin-left: 0.5rem;
    }
  }

  a {
    text-align: center;
  }

  img {
    max-width: min(512px, 100%);
    height: auto;
  }
</style>
