---
import { Image } from "astro:assets";
import Line from "../components/elements/Line.astro";
import Layout from "../layouts/Layout.astro";
import PortfolioThumb from "../images/thumbnails/Portfolio_large.webp";
import ScalaIOThumb from "../images/thumbnails/ScalaIO_large.webp";
import { Icon } from "astro-icon/components";
---

<Layout title="Projects">
  <section slot="hero" id="page-header">
    <h1 class="anim-fade-translate">Projects</h1>
  </section>

  <section class="flex column center">
    <h1>Portfolio</h1>
    <a href="/" target="_blank">
      <Image src={PortfolioThumb} alt="My Portfolio" />
    </a>
    <Line />
    <h1>
      <a href={"https://github.com/ScalaIO/scala.io"} target="_blank">
        Scala.IO webiste
        <Icon name="mdi:link-variant" />
      </a>
    </h1>
    <a href="https://scala.io" target="_blank">
      <Image src={ScalaIOThumb} alt="Scala.IO website" />
    </a>
  </section>
</Layout>

<style>
  a {
    text-align: center;
  }

  img {
    max-width: min(512px, 100%);
    height: auto;
  }
</style>
