<div class="funny-quote">
<pre>
  _________________________________________ 
  / One day, I'll go live in 'Theory'!      \
  | Because in Theory... EVERYTHING is fine |
  |                                         |
  \ -- Marc Levy                            /
   ----------------------------------------- 
            \           \  /
             \           \/
                 (__)    /\
                 (oo)   O  O
                 _\/_   //
           *    (    ) //
            \  (\\    //
             \(  \\    )
              (   \\   )   /\
    ___[\______/^^^^^^^\__/) o-)__
   |\__[=======______//________)__\
   \|_______________//____________|
       |||      || //||     |||
       |||      || @.||     |||
        ||      \/  .\/      ||
                   . .
                  '.'.`

              COW-OPERATION
              (from cowsay)
</pre>
</div>

<style>
  .funny-quote {
    display: flex;
    justify-content: center;

    @media screen and (min-width: 0px) {
      font-size: 0.45em;
    }
    @media screen and (min-width: 450px) {
      font-size: 0.75em;
    }
    @media screen and (min-width: 600px) {
      font-size: 1em;
    }
  }
</style>
