<div class="funny-quote">
<pre>
   _________________________________________ 
  / One day, I'll go live in 'Theory'!      \
  | Because in Theory... EVERYTHING is fine |
  |                                         |
  \ -- Marc Levy                            /
   ----------------------------------------- 
            \           \  /
             \           \/
                 (__)    /\
                 (oo)   O  O
                 _\/_   //
           *    (    ) //
            \  (\\    //
             \(  \\    )
              (   \\   )   /\
    ___[\______/^^^^^^^\__/) o-)__
   |\__[=======______//________)__\
   \|_______________//____________|
       |||      || //||     |||
       |||      || @.||     |||
        ||      \/  .\/      ||
                   . .
                  '.'.`

              COW-OPERATION
              (from cowsay)
</pre>
</div>

<style>
  .funny-quote {
    display: flex;
    justify-content: center;
    /* width: 100%; */
    font-size: min(2.75vw, 1.5rem);
  }
</style>
