<span class="inline-code">
  <slot/>
</span>

<style>
  .inline-code {
    background-color: #2d2d2d;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    font-family: "Courier New", Courier, monospace;
    color: #f8f8f2;
    white-space: pre-wrap;
  }
</style>